/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #232323;
}

::selection {
  color: #fff;
  background: #909090;
}

.design-of-game-boxes {
  width: 770px;
  padding: 35px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}

.design-of-game-boxes .input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.design-of-game-boxes .typing-practice-game-container, .design-of-game-boxes .score-container {
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}

.typing-practice-game-container .typing-text {
  overflow: hidden;
  max-height: 256px;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.typing-text p {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}

.typing-text p span {
  position: relative;
}

.typing-text p span.correct {
  color: #1aff00;
}

.typing-text p span.incorrect {
  color: #ff0008;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}

.typing-text p span.active {
  color: #909090;
}

.typing-text p span.active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #909090;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50%{ 
    opacity: 1; 
  }
}

.typing-practice-game-container .credits-retry, .score-container .credits-retry {
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}

.credits-retry button, .typing-practice-game-container button, .score-container button {
  outline: none;
  border: none;
  width: 105px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #909090;
  transition: transform 0.3s ease;
}

.credits-retry button:active, .typing-practice-game-container button:active {
  transform: scale(0.97);
}

.credits-retry .result-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}

.result-details li {
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}

.result-details li:not(:first-child) {
  padding-left: 22px;
  border-left: 1px solid #ffffff;
}

.result-details li p {
  font-size: 19px;
}

.result-details li span {
  display: block;
  font-size: 20px;
  margin-left: 10px;
}

li span b {
  font-weight: 500;
}

li:not(:first-child) span {
  font-weight: 500;
}

.scoreboard {
  width: 745px;
  height: auto;
  text-align: center;
  font-size: 18px;
}

.score-container button {
  outline: none;
  border: none;
  width: 205px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #909090;
  transition: transform 0.3s ease;
}

.scoreboard button:active {
  transform: scale(0.97);
}

.best-score {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

.best-score div {
  position: relative;
  width: 120px;
  height: 30px;
  margin-top: 15px;
  background-color: #909090;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.score-container {
  display: flexbox;
  text-align: center;
}

.word-count {
  width: 140px
}